{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<header class="bg-primary text-white py-4">
    <div class="container text-center">
        <br>
        <h1>{% trans 'Support Center' %}</h1>
        <p>{% trans "Need help? We're here for you." %}</p>
        <br>
    </div>
</header>
<div class="container my-5">
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-secondary">{% trans 'Contact Support' %}</h2>
                    <p class="card-text">{% trans 'If you need assistance with an issue, you can reach out to our support team directly. We’re available Monday to Friday, 9 AM to 5 PM.' %}</p>
                    <p>{% trans 'Email us at:' %}
                        <a href="https://km1728.uz@gmail.com">km1728.uz@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-secondary">{% trans 'Frequently Asked Questions' %}</h2>
                    <p class="card-text">{% trans 'Have a question? Check out our FAQ page for answers to common questions.' %}</p>
                    <a href="/store/faq" class="btn btn-outline-primary">{% trans 'Visit FAQ' %}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-secondary">{% trans 'Submit a Support Request' %}</h2>
                    <p class="card-text">{% trans "Can’t find what you’re looking for? Submit a detailed request, and we’ll get back to you as soon as possible." %}</p>
                    <a href="mailto:km1728.uz@gmail.com" class="btn btn-outline-primary">{% trans 'Submit Request' %}</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-secondary">{% trans 'Technical Issues' %}</h2>
                    <p class="card-text">{% trans 'Encountering a bug or experiencing technical difficulties? Let us know by providing a detailed description of the issue.' %}</p>
                    <a href="mailto:km1728.uz@gmail.com" class="btn btn-outline-primary">{% trans 'Report a Problem' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}

